#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export DH_OPTIONS

override_dh_auto_configure:
	# first, build cfitsio
	cd cfitsio && ./configure
	qmake \
		PREFIX="/opt/astrobin" \
		"QMAKE_CXXFLAGS=$(CFLAGS)" \
		CONFIG+="disable_python" \
	   	abc.pro

override_dh_autobuild:
	cd cfitsio && make
	dh_auto_build

override_dh_install:
	# We install only mappero geotagger
	rm -rf debian/astrobin-uploader/opt/astrobin/include
	dh_install

%:
	dh $@
